@import '../assets/styles/variables';

:host {
    display: block;
}

.page-content {
    height: calc(100vh - #{$normal-height-topbar} - #{$normal-height-footerbar} - 2rem);
    overflow-y: auto;
    background-color: $brand-main-bg-color;
    padding: 0.5rem 0;
}

@media (max-width: 750px) {
    .page-content {
        height: calc(100vh - #{$md-height-topbar} - #{$md-height-footerbar});
    }
}

@media (max-width: 576px) {
    .page-content {
        height: calc(100vh - #{$md-height-topbar} - #{$md-height-footerbar} - 1rem);
    }
}
