<div class="story-item" *ngIf="!loading && story">
    <div class="story-key">
        <div class="vote-arrow"></div>
    </div>
    <div>
        <div class="story-main">
            <span class="story-title">{{ story.title }} </span>
            <span class="story-site"> ({{ story.website }})</span>
        </div>
        <div class="story-details">	{{ story.score }} points by {{ story.by }} {{ story.time * 1000 | timeago}} | hide | <a [routerLink]="['item']" [queryParams]="{id: story.id}">{{ story.descendants }} comment{{ story.descendants > 1 ? 's' : '' }}</a></div>
    </div>
</div>

<div class="leave-comment" *ngIf="!loading">
    <div><textarea name="text" rows="6" cols="60" class=""></textarea></div>
    <button type="button">add comment</button>
</div>

<div class="comment-list" *ngIf="!loading">
    <div class="comment-item" *ngFor="let comment of comments">
        <div class="comment-item__header">
            <div class="vote-arrow"></div> <span>{{ comment.by }} </span> <span> {{ comment.time * 1000 | timeago}}</span>
        </div>
        <div class="comment-item__text" [innerHTML]="comment.text">
        </div>
    </div>
</div>

<div class="loading" *ngIf="loading">
    Loading ...
</div>