$brand-header-bg-color: #ff6600;
$brand-main-bg-color: #f6f6ef;
$brand-subtext-color: #828282;

$normal-height-topbar: 24px;
$normal-height-footerbar: 85.19px;

$md-height-topbar: 38px;
$md-height-footerbar: 102.19px;
